.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  @include media(desktop) {
    align-items: baseline;
  }
}
.footer-left-site {
  @include media(tablet-only) {
    margin-left: 76px;
  }
}
