.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}
.footer-left-site {
  @include media(not-desktop) {
    margin-bottom: 60px;
  }
}
