.hero-title {
  max-width: 350px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include media(desktop) {
    max-width: 596px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-height: 400px;
  text-align: center;
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero_sm.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include media(retina) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero_sm@2x.jpg');
  }

  @include media(tablet) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero_md.jpg');
  }
  @include media(retina) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero_md@2x.jpg');
  }

  @include media(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-height: 600px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero_lg.jpg');
  }
  @include media(retina) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero/hero_lg@2x.jpg');
  }
}
