.address__location {
    font-style: normal;
    color: #ffffff;
    line-height: 1.71;
}

.address__item:not(:last-child) {
    margin-bottom: 9px;
}

.address__link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    &:hover, &:focus {
        color: var(--accent-color);
    }
}
