.form {
  text-align: center;
  @include media(tablet) {
    width: 450px;
  }
  @include media(desktop) {
    width: 570px;
    margin-left: auto;
    text-align: left;
  }
}
.footer-form {
  @include media(desktop) {
    display: flex;
  }
}
.footer-form__input {
  width: 100%;
  color: #ffffff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  outline: transparent;
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  @include media(desktop) {
    width: 358px;
    margin-right: 12px;
  }
  @include media(not-desktop) {
    margin-bottom: 20px;
  }
}
