.logo {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #000000;
  font-family: $logo-font-ramily;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  &--accent {
    color: var(--accent-color);
  }
}

.header__logo {
  @include media(tablet) {
    margin-right: 88px;
  }

  @include media(desktop) {
    margin-right: 93px;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  line-height: 1.19;
  @include media(desktop) {
    text-align: left;
  }
}
